<ion-content>
  <div *ngIf="name" id="registrado">
    <mat-card class="example-card" id="cartaPrincipal">
      <mat-card-header id="tituloHeader">
        <mat-card-title *ngIf="name" id="titulo">{{ name }}</mat-card-title>
      </mat-card-header>

      <div id="divImg">
        <img
          *ngIf="name"
          id="mat-card-image"
          src="{{ photo }}"
          alt="Foto de {{ name }}"
        />
      </div>

      <mat-card-content>
        <p *ngIf="name"><span>Nombre: </span>{{ name }}</p>

        <p *ngIf="name"><span>Correo: </span>{{ email }}</p>

        <p><span>Teléfono: </span>{{ obtenerTelefono() }}</p>

        <p><span>Biblioteca Fav.: </span>{{ obtenerBibliotecaFav() }}</p>
        <p><span>Segunda Biblioteca Fav.: </span>?</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="botonNaranja">EDITAR PERFIL</button>
        <button mat-button class="botonNaranja" (click)="cerrarSesion()">CERRAR SESIÓN</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="!name" id="noRegistrado">
    <app-no-registrado></app-no-registrado>
  </div>
</ion-content>
