<ion-content>
  <div *ngIf="user" id="registrado">
    <mat-card class="example-card" id="cartaPrincipal">
      <mat-card-header id="tituloHeader">
        <mat-card-title *ngIf="user" id="titulo">{{ user.displayName }}</mat-card-title>
      </mat-card-header>

      <div id="divImg">
        <img
          *ngIf="user"
          id="mat-card-image"
          src="{{ user.photoURL }}"
          alt="Foto de {{ user.displayName }}"
        />
      </div>

      <mat-card-content>
        <p *ngIf="user"><span>Nombre: </span>{{ user.displayName }}</p>

        <p *ngIf="user"><span>Correo: </span>{{ user.email }}</p>

        <p><span>Teléfono: </span>{{ obtenerTelefono() }}</p>

        <p><span>Biblioteca Fav.: </span>{{ obtenerBibliotecaFav() }}</p>
        <p><span>Segunda Biblioteca Fav.: </span>?</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="botonNaranja">EDITAR PERFIL</button>
        <button mat-button class="botonNaranja" (click)="cerrarSesion()">CERRAR SESIÓN</button>
      </mat-card-actions>
    </mat-card>
  </div>
</ion-content>
