<app-header></app-header>
<div id="main" *ngIf="libroSeleccionado">
  <div id="divImagen">
    <img
      *ngIf="libroSeleccionado.portadaImgPath"
      src="{{ libroSeleccionado.portadaImgPath }}"
    />
    <img
      *ngIf="!libroSeleccionado.portadaImgPath"
      src="../assets/images/principales/portadanodisp.png"
    />
  </div>

  <div id="divDetalles">
    <p>
      <span>Titulo:</span> {{ aplicarEsteticos(libroSeleccionado.titulo, 100) }}
    </p>
    <p>
      <span>Autor: </span>{{ aplicarEsteticos(libroSeleccionado.autor, 100) }}
    </p>
    <p><span>ISBN: </span>{{ aplicarEsteticos(libroSeleccionado.isbn, 100) }}</p>
    <p *ngIf="libroSeleccionado.editorial">
      <span>Editorial: </span
      >{{ aplicarEsteticos(libroSeleccionado.editorial, 100) }}
    </p>
    <p *ngIf="libroSeleccionado.paginas">
      <span>Nº.Páginas: </span
      >{{ aplicarEsteticos(libroSeleccionado.paginas.toString(), 100) }}
    </p>
    <p>
      <span>Categoria: </span
      >{{ aplicarEsteticos(quitarNumsYGuion(libroSeleccionado.categoria), 100) }}
    </p>
    <p>
      <span>Tipo: </span
      >{{ aplicarEsteticos(quitarNumsYGuion(libroSeleccionado.tipo), 100) }}
    </p>

    <button *ngIf="libroSeleccionado.disponible" (click)="clickPedir()" class="botonVerde"> 
      Pedir
    </button>

    <div class="libroNoDisponible" *ngIf="!libroSeleccionado.disponible">
      <div class="divNoDisponible">
        <mat-icon> warning </mat-icon>
        <p class="noMarginBottom noDisponP botonVerde">Libro no disponible</p>
      </div>
      <div class="divBotonReservar">
        <button class="botonReservar botonVerde">Reservar</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!libroSeleccionado">
  <app-error-en-libro></app-error-en-libro>
</div>
