#main {
  width: 100%;
  height: 100%;
  background: url("src\assets\images\principales\errorlink.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#main > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#main > div > p {
  color: white;
  text-align: center;
  margin: 0px;
  font-size: 20px;
}

#main > div > h1 {
  color: white;
  text-align: center;
  margin: 0px;
  font-size: 35px;
}

#main > div > button {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}