<div id="main">
  <div id="imgBajarLibro">
    <button (click)="atrasDesdeBorrar()">Atrás</button>
  </div>

  <mat-spinner *ngIf="!cargado"></mat-spinner>

  <mat-form-field appearance="standard">
    <mat-label>Filtrar por ISBN</mat-label>
    <input matInput type="number" (keyup)="applyFilter($event)" placeholder="Ex. 9788408061052" #input>
  </mat-form-field>

  <button (click)="clickBorrarLibro()" [disabled]="!filaABorrar">Borrar {{aplicarNombreEstetico(filaABorrar?.titulo, 21)}}</button>

  <table mat-table id="mat-table" [dataSource]="libros" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="título">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{nombreAMayus(element.titulo)}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="autor">
        <th mat-header-cell *matHeaderCellDef> Autor </th>
        <td mat-cell *matCellDef="let element"> {{nombreAMayus(element.autor)}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="isbn">
        <th mat-header-cell *matHeaderCellDef> ISBN </th>
        <td mat-cell *matCellDef="let element"> {{nombreAMayus(element.isbn)}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="editorial">
        <th mat-header-cell *matHeaderCellDef> Editorial </th>
        <td mat-cell *matCellDef="let element"> {{nombreAMayus(element.editorial)}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="filaClick(row)" [ngClass]="{'filaSeleccionada': filaABorrar == row}" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
