/* ---------------  FOODER ----------------------- */

#main {
  background-color: #2b2d42;
}

#fooder,
#postfooder {
  padding-top: 20px;
  display: flex;
}

#primeraCol,
#segundaCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#primeraCol,
#segundaCol {
  flex: 50%;
}

p {
  color: white;
  text-align: center;
}

p > span {
  font-weight: 600;
}

.tituloHorario {
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-bottom: 3px;
}

#divCalendario {
  display: flex;
  justify-content: center;
}

#divCalendario > p-calendar {
  background-color: white;
}

#postfooder {
  display: flex;
  justify-content: center;
}

#postfooder > .redes {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-left: 2%;
}

#postfooder > div > ion-icon {
  cursor: pointer;
  color: white;
  font-size: 40px;
}

#postfooder {
  padding-bottom: 10px;
}
