<ion-content>
  <!-- ------ GENERAL ------ -->
  <div
    *ngIf="
      !subirLibroActivado &&
      !borrarLibroActivado &&
      !subirEventoActivado &&
      !borrarEventoActivado &&
      !gestionActivado &&
      !erroresActivado
    "
    id="main"
  >
    <p>ADMINISTRACIÓN</p>

    <div id="divButtons">
      <button
        id="botoSubirLibro"
        title="Subir Libro"
        class="botoIconos"
        (click)="activarSubirLibro()"
      ></button>
      <button
        id="botoBajarLibro"
        title="Dar de Baja Libro"
        class="botoIconos"
        (click)="activarBorrarLibro()"
      ></button>

      <button
        id="botoSubirEvento"
        title="Subir Evento"
        class="botoIconos"
        (click)="activarSubirEvento()"
      ></button>
      <button
        id="botoBajarEvento"
        title="Dar de Baja Evento"
        class="botoIconos"
        (click)="activarBorrarEvento()"
      ></button>

      <button
        id="botoErrores"
        title="Gestión Errores"
        class="botoIconos"
        (click)="activarGestionErrores()"
      ></button>
      <button
        id="botoGestion"
        title="Gestión Reservas"
        class="botoIconos"
        (click)="activarGestion()"
      ></button>
    </div>
  </div>

  <!-- ------ SUBIR LIBRO ------ -->
  <div *ngIf="subirLibroActivado">
    <app-admin-subir-libro></app-admin-subir-libro>
  </div>

  <!-- ------ BORRAR LIBRO ------ -->
  <div *ngIf="borrarLibroActivado">
    <app-admin-borrar-libro></app-admin-borrar-libro>
  </div>

  <!-- ------ SUBIR EVENTO ------ -->
  <div *ngIf="subirEventoActivado">
    <app-admin-subir-evento></app-admin-subir-evento>
  </div>

 

  <!-- ------ BORRAR EVENTO ------ -->
  <div *ngIf="borrarEventoActivado">
    <app-admin-borrar-evento></app-admin-borrar-evento>
  </div>

  <!-- ------ GESTION RESERVAS------ -->

  <div *ngIf="gestionActivado">
    <app-admin-gestion-reservas></app-admin-gestion-reservas>
  </div>

  <!-- ------ GESTION ERRORES ------ -->
  <div *ngIf="erroresActivado">
    <app-admin-gestion-errores></app-admin-gestion-errores>
  </div>
</ion-content>
