#subirLibro, #subirEvento, #borrarLibro, #borrarEvento, #gestion, #gestionErrores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px
}

button {
    margin: 0;
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    position: relative;

    color: #ffffff;
    background: #2196F3;
    border: 1px solid #2196F3;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;

    overflow: hidden;
    position: relative;
}

button:enabled:hover {
    background: #0d89ec;
    color: #ffffff;
    border-color: #0d89ec;
}

button:disabled{
    background: #dddddd;
    color: #ffffff;
    border-color: #dddddd;
}

#drop{
    display: flex;
    align-items: center;
}

#main{
    background-color: #0d89ec;
    padding-bottom: 20px;
    padding-top: 20px;
    height: calc(100% - 40px);
}

#divButtons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#main > p{
    color: white;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

/* Botones */

.botoIconos{
    border: none;
    width: 200px;
    height: 200px;
    font-size: 15%;
}

.botoIconos:hover{
    width: 190px;
    height: 190px;
    padding: 10px;
}

#botoSubirLibro:hover, #botoBajarLibro:hover, #botoSubirEvento:hover,
#botoBajarEvento:hover, #botoGestion:hover, #botoErrores:hover{
    background-color: #fbff12;
}

#botoSubirLibro{
    background: url('src\assets\images\button\subirLibro.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

#botoBajarLibro{
    background: url('src\assets\images\button\bajarLibro.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

#botoSubirEvento{
    background: url('src\assets\images\button\subirEv.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}


#botoBajarEvento{
    background: url('src\assets\images\button\bajarEv.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

#botoSubirPers{
    background: url('src\assets\images\button\subirPers.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}


#botoBajarPers{
    background: url('src\assets\images\button\bajarPers.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

#botoGestion{
    background: url('src\assets\images\button\reservasalt.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0a0908;
}

#botoErrores{
    background: url('src\assets\images\button\mensajesalt.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

#mat-table, #mat-table2{
    width: 100%;
}

#inputNewReserva, #inputNewUser{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#inputNewReserva > button, #inputNewUser > button{
    margin-right: 20%;
    margin-bottom: 1.34375em;
    display: flex;
    justify-content: center;
}

#inputNewReserva > mat-form-field, #inputNewUser > mat-form-field{
    margin-left: 20%;
}

/* PORTADAS */

#imgSubirEv{
    margin-bottom: 10px;
    width: 100%;
    height: 225px;
    background-image: url('src\assets\images\portadas\subirevento.png');
    background-position: 100% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#imgSubirEv > button{
    margin-left: 10px;
    margin-top: 10px;
}

.filaSeleccionada, .filaEvSeleccionada{
    background-color: red;
    color: white;
}
