<app-header></app-header>

<div>
  <div id="divAdmin" *ngIf="isAdmin">
    <p>Visualizando vista del usuario...</p>
    <button (click)="adminClick()">Acceder a Administración</button>
  </div>
</div>

<ion-content>
  <div id="divPrincipal">
    <div id="buscadoryfiltro">
      <div>
        <p id="tituloPrincipal">
          Busca y pide entre nuestros
          <span>más de {{ totalLibros }} espectaculares libros</span>
        </p>
        <p></p>
      </div>

      <div id="buscador" tabindex="0">
        <ion-icon name="search-outline"></ion-icon>
        <input
          type="text"
          placeholder="Buscar"
          id="input"
          (keyup)="onEnter()"
        />
      </div>

      <div id="filtro">
        <ion-chip *ngIf="categoria">
          <ion-icon name="{{ iconCat }}"></ion-icon>
          <ion-label>{{
            aplicarNombreEsteticoSimplificado(quitarNumsYGuion(categoria))
          }}</ion-label>
          <ion-icon name="close" (click)="cerrarIcono('categoria')"></ion-icon>
        </ion-chip>

        <ion-chip *ngIf="orden">
          <ion-icon name="{{ orden === 'asc' ? 'arrow-up-outline' : 'arrow-down-outline'}}"></ion-icon>
          <ion-label>{{ orden === 'asc' ? 'A-Z' : 'Z-A' }}</ion-label>
          <ion-icon name="close" (click)="cerrarIcono('orden')"></ion-icon>
        </ion-chip>

        <ion-chip (click)="filtroClick()">
          <ion-icon name="funnel-outline"></ion-icon>
          <ion-label>Filtrar</ion-label>
        </ion-chip>
      </div>
    </div>

    <!----------------------------------------------------------------------------------------------------------------->
    <div class="tabla">
      <div *ngFor="let libro of listaFiltrada | keyvalue" class="card">
        <div class="divImgLibro" (click)="libroClick(libro)">
          <!-- Tiene o no imagen de portada? -->
          <img
            *ngIf="!libro.value.portadaImgPath"
            class="imgLibro"
            alt="{{ libro.value.titulo }}"
            src="../assets/images/principales/portadanodisp.png"
            height="230px"
            width="153px"
          />
          <!-- por defecto -->
          <img
            *ngIf="libro.value.portadaImgPath"
            class="imgLibro"
            alt="{{ libro.value.titulo }}"
            src="{{ libro.value.portadaImgPath }}"
            height="230px"
            width="153px"
          />
        </div>

        <p class="tituloLibro" (click)="libroClick(libro)">
          {{ aplicarNombreEstetico(libro.value.titulo, 17) }}
        </p>
        <p class="autorLibro" (click)="libroClick(libro)">
          {{ aplicarNombreEstetico(libro.value.autor, 19) }}
        </p>

        <div class="libroNoDisponible" *ngIf="!libro.value.disponible">
          <div class="divBotonReservar">
            <span title="No Disponible"
              ><ion-icon name="warning-outline"></ion-icon
            ></span>
            <button class="botonReservar" (click)="reservarClick(libro)">
              Reservar
            </button>
          </div>
        </div>

        <div class="divBotonPedir">
          <button
            class="botonPedir"
            (click)="pedirClick(libro)"
            *ngIf="libro.value.disponible"
          >
            Pedir
          </button>
        </div>
      </div>
    </div>

    <!----------------------------------------------------------------------------------------------------------------->

    <div id="divBotonCargarMas">
      <button id="botonCargarMas" (click)="cargarMas()">Cargar Más...</button>
    </div>
  </div>

  <app-eventos></app-eventos>

  <app-conocenos></app-conocenos>
</ion-content>
