@font-face {
	font-family: mrdafoe;
	src: url(src\assets\fonts\MrDafoe-Regular.ttf);
}


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    margin:0px
}

button{
    cursor: pointer;
}

#divPrincipal{
    background-color: white;
    padding-bottom: 30px;
}

#tituloHeader{
    justify-content: center;
}

#header{
    width: 100%;
    display: flex;
    justify-content: space-between;

    /*background-color: #708c77;*/
    background-color: #006d77;

    padding-top: 5px;
    padding-bottom: 5px;

    position: sticky;
    top: 0px;
    border-bottom: 2px solid black;
}

mat-icon, ion-icon{
    cursor: pointer;
}

.divImgLibro{
    display: flex;
    justify-content: center;
}

#navBar{
    flex: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: right;
}

#navBar > p{
    font-size: 18px;
    cursor: pointer;
    color: aliceblue;
}

#navBar > p:hover{
    font-weight: 600;
    text-decoration: underline;
}

#perfil > mat-icon, #perfil > ion-icon{
    margin-left: 10px;
    margin-right: 15px;
    transform: scale(2);
}

#perfil > #iconoPerfil{
    margin-left: 10px;
    width: 40%;
    border-radius: 30px;
    cursor: pointer;
}

/* ----------- NEW HEADER -----------*/
#logo{
    flex: 40%;
    display: flex;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;
}

#logo > img{
    width: 7%;
    background-color: black;
    border-radius: 30px;
    padding: 5px;
}

#logo > p{
    font-family: mrdafoe;
    font-size: 34px;
    margin-bottom: 0px;
    margin-left: 5px;
    color: aliceblue;
}

/* ---------------  BUSCADOR ----------------------- */

input{
    border: 0px;
    width: 90%;
    height: 30px;
}

textarea:focus, input:focus{
    outline: none;
}


#buscadoryfiltro{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    background-image: url('src\assets\images\principales\fondomirrror.jpg');
    background-size: cover;
    background-position: center;
}

#buscadoryfiltro > p{
    text-align: center;
    font-size: 30px;

    text-shadow: 0 0 2px #fff; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 2px #fff;
    -webkit-text-shadow: 0 0 2px #fff;
}

#buscadoryfiltro > p > span::before{
    content: "\A";
	white-space: pre;
}

#buscador{
    border-radius: 10px;
    background-color: white;
    margin: 20px 20px 0px 20px;
}

#buscador, #filtro{
    display: flex;
    align-items: center;
}

#buscador:focus-within{
    border: 2px solid black;
}

#filtro{
    margin-right: 20px;
    justify-content: right;
}

#divFiltro:focus-within{
    border: 2px solid black;
}

#divFiltro{
    margin-right: 5px;
    margin-bottom: 20px;
    display:flex;
    align-items: center;

    background-color: white;
    border-radius: 5px;

    cursor: pointer;
    padding: 2px;
}

/* ---------------  CARDS ----------------------- */

.tabla{
    justify-content: center;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.card{
    border-radius: 5px;
}

.card:hover{
    background-color: #8d9db8;
    cursor: pointer;
}

.imgLibro{
    border-radius: 5px;
}

.card:hover > .divImgLibro > .imgLibro{
    padding: 10px;
    height: 220px;
    width: 143px;
}

.tituloLibro{
    font-weight: 600;
    margin-left: 5px;
}

.autorLibro{
    margin-left: 5px;
}

.divNoDisponible{
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.divNoDisponible > mat-icon, .divNoDisponible > ion-icon{
    color: #d90429;
    margin-right: 5px;
    margin-left: 5px;
}

.divBotonPedir, .divBotonReservar{
    display: flex;
    justify-content: center;
}

.botonPedir{
    margin-top: 5px;
    background-color: #006d77;
}

.divBotonReservar{
    margin-bottom: 10px;
}

.botonReservar{
    background-color: #83c5be;
}

.botonPedir, .botonReservar{
    padding: 7px 15px 7px 15px;
    color: white;
    border: none;
    border-radius: 5px;
}

.botonPedir:hover{
    background-color: #4c989f;
}

.botonReservar:hover{
    background-color: #b4dcd8;
}

/* ---------------  STUFF ----------------------- */
#botonCargarMas{
    background-color: #2b2d42;
    border: none;
    padding: 10px 20px 10px 20px;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
}

#botonCargarMas:hover{
    color: #686da1;
}

#divBotonCargarMas{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ---------------  EVENTOS ----------------------- */

#divEventos{
    background-color: #ffddd2;
    padding-top: 30px;
    padding-bottom: 10px;
}

#tablaEventos{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap: nowrap;
    gap:60px;
    overflow: auto;
}

h2{
    text-align: center;
    color: black;
    font-size: 30px;
    margin-bottom: 20px;
}

.nombreEvento{
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
}

.descripcionEvento{
    margin-bottom: 10px;
    overflow-wrap: break-word;
    text-align: center;
}

#divDescripcionEvento{
    width:180px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ---------------  FOODER ----------------------- */

#fooder, #postfooder{
    padding-top: 20px;
    display: flex;
    background-color: #2b2d42;
}

#primeraCol{
    flex: 50%;
    justify-items: right;
    margin-left: 10px;
}

#segundaCol{
    flex: 50%;
}

#divHorario{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#divHorario > p, #segundaCol > p, #postfooder > div > p{
    color: white;
}

#divHorario > p > span, #segundaCol > p > span{
    font-weight: 600;
}

.tituloHorario{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 3px;
}

#divCalendario{
    display: flex;
    justify-content: center;
}

#divCalendario > p-calendar{
    background-color: white;
}


#postfooder > div > p{
    text-align: right;
    justify-content: right;
}

#postfooder > .sigue{
    flex: 48%;
    align-items: right;
}

#postfooder > .redes{
    flex: 50%;
    display: flex;
    gap: 10px;
    margin-left: 2%;
}

#postfooder > div > img{
    cursor: pointer;
}

#postfooder{
    padding-bottom: 10px;
}

#divAdmin{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: yellow;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top:50px;
    justify-content: center;
}

#divAdmin > p{
    font-size: 20px;
}
#divAdmin > button{
    padding: 5px;
}

.mat-calendar-body-cell-content.mat-calendar-body-today{
    background-color: green !important;
    color: white !important;
  }