<app-header></app-header>

<div>
  <div id="divAdmin" *ngIf="isAdmin | async">
    <p>Visualizando vista del usuario...</p>
    <button (click)="adminClick()">Acceder a Administración</button>
  </div>
</div>

<ion-content>
  <div id="divPrincipal">
    <div id="buscadoryfiltro">
      <div>
        <p id="tituloPrincipal">
          Busca y pide entre nuestros
          <span>más de {{ totalLibros }} espectaculares libros</span>
        </p>
        <p></p>
      </div>

      <div id="buscador" tabindex="0">
        <ion-icon name="search-outline"></ion-icon>
        <input
          type="text"
          placeholder="Buscar"
          id="input"
          (keyup)="onEnter()"
        />
      </div>

      <div id="filtro">
        <ion-chip *ngIf="categoria">
          <ion-icon name="{{ iconCat }}"></ion-icon>
          <ion-label>{{
            aplicarNombreEsteticoSimplificado(quitarNumsYGuion(categoria))
          }}</ion-label>
          <ion-icon name="close" (click)="cerrarIcono('cat')"></ion-icon>
        </ion-chip>

        <ion-chip *ngIf="esOrdenNew">
          <ion-icon name="sparkles-outline"></ion-icon>
          <ion-label>Nuevos</ion-label>
          <ion-icon name="close" (click)="cerrarIcono('new')"></ion-icon>
        </ion-chip>

        <ion-chip *ngIf="esOrdenZA">
          <ion-icon name="arrow-up-outline"></ion-icon>
          <ion-label>Z-A</ion-label>
          <ion-icon name="close" (click)="cerrarIcono('za')"></ion-icon>
        </ion-chip>

        <ion-chip *ngIf="esOrdenAZIcon">
          <ion-icon name="arrow-down-outline"></ion-icon>
          <ion-label>A-Z</ion-label>
          <ion-icon name="close" (click)="cerrarIcono('az')"></ion-icon>
        </ion-chip>

        <ion-chip (click)="filtroClick()">
          <ion-icon name="funnel-outline"></ion-icon>
          <ion-label>Filtrar</ion-label>
        </ion-chip>
      </div>
    </div>

    <div *ngIf="!esOrdenAZ" class="tabla">
      <div *ngFor="let libro of (lista | async)?.reverse()" class="card">
        <div class="divImgLibro" (click)="libroClick(libro)">
          <!-- Tiene o no imagen de portada? -->
          <img
            *ngIf="!libro.portadaImgPath"
            class="imgLibro"
            alt="libro"
            src="../assets/images/principales/portadanodisp.png"
            height="230px"
            width="153px"
          />
          <!-- por defecto -->
          <img
            *ngIf="libro.portadaImgPath"
            class="imgLibro"
            alt="libro"
            src="{{ libro.portadaImgPath }}"
            height="230px"
            width="153px"
          />
        </div>

        <p class="tituloLibro" (click)="libroClick(libro)">
          {{ aplicarNombreEstetico(libro.titulo, 17) }}
        </p>
        <p class="autorLibro" (click)="libroClick(libro)">
          {{ aplicarNombreEstetico(libro.autor, 19) }}
        </p>

        <div class="libroNoDisponible" *ngIf="!libro.disponible">
          <div class="divBotonReservar">
            <span title="No Disponible"
              ><ion-icon name="warning-outline"></ion-icon
            ></span>
            <div class="centerBoto">
              <button class="botonReservar" (click)="reservarClick(libro)">
                Reservar
              </button>
            </div>
          </div>
        </div>

        <div class="divBotonPedir">
          <button
            class="botonPedir"
            (click)="pedirClick(libro)"
            *ngIf="libro.disponible"
          >
            Pedir
          </button>
        </div>
      </div>
    </div>

    <!----------------------------------------------------------------------------------------------------------------->
    <!-- Si el orden es A-Z hay que hacer reverse() a la lista, por tanto se debe duplicar-->
    <div *ngIf="esOrdenAZ" class="tabla">
      <div *ngFor="let libro of lista | async" class="card">
        <div class="divImgLibro" (click)="libroClick(libro)">
          <!-- Tiene o no imagen de portada? -->
          <img
            *ngIf="!libro.portadaImgPath"
            class="imgLibro"
            alt="libro"
            src="../assets/images/principales/portadanodisp.png"
            height="230px"
            width="153px"
          />
          <!-- por defecto -->
          <img
            *ngIf="libro.portadaImgPath"
            class="imgLibro"
            alt="libro"
            src="{{ libro.portadaImgPath }}"
            height="230px"
            width="153px"
          />
        </div>

        <p class="tituloLibro" (click)="libroClick(libro)">
          {{ aplicarNombreEstetico(libro.titulo, 17) }}
        </p>
        <p class="autorLibro" (click)="libroClick(libro)">
          {{ aplicarNombreEstetico(libro.autor, 19) }}
        </p>

        <div class="libroNoDisponible" *ngIf="!libro.disponible">
          <div class="divBotonReservar">
            <span title="No Disponible"
              ><ion-icon name="warning-outline"></ion-icon
            ></span>
            <button class="botonReservar" (click)="reservarClick(libro)">
              Reservar
            </button>
          </div>
        </div>

        <div class="divBotonPedir">
          <button
            class="botonPedir"
            (click)="pedirClick(libro)"
            *ngIf="libro.disponible"
          >
            Pedir
          </button>
        </div>
      </div>
    </div>

    <!----------------------------------------------------------------------------------------------------------------->

    <div id="divBotonCargarMas">
      <button id="botonCargarMas" (click)="cargarMas()">Cargar Más...</button>
    </div>
  </div>

  <app-eventos></app-eventos>

  <app-conocenos></app-conocenos>
</ion-content>
