h1 {
  font-size: 18px;
  margin-bottom: 0px;
}

button {
  margin: 0;
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;

  color: #ffffff;
  background: #006d77;
  border: 1px solid #006d77;
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 3px;

  overflow: hidden;
  position: relative;
}

button:enabled:hover {
  background: #02a8b8;
  color: #ffffff;
  border-color: #02a8b8;
}

button:disabled {
  background: #dddddd;
  color: #ffffff;
  border-color: #dddddd;
}

#mat-dialog-close {
  color: #006d77;
  background: #ffffff;
  margin-right: 2px;
}
